.brand-option{
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #000 !important;
    text-transform: none;
    width: 300px !important;
    height: 3rem !important;
    margin-right: 16px !important;
    background: #fbfcfc !important;
    border-radius: 2px !important;
    border: 1px solid #c7cdd2 !important;
}

.sort-option{
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #646a70 !important;
    text-transform: none !important;
    color: #000 !important;
    text-transform: none;
    width: 128px !important;
    height: 3rem !important;
    background: #fbfcfc !important;
    border: 1px solid #c7cdd2 !important;
}

.filter-area{
    margin-left: 250px;
    display: inline-block;
}

.dropdown{
    width: 15.4166666667%;
    padding-left: 1.0416666667%;
}

.brand-area{
    display: inline-block;
}

.sort-area{
    display: inline-block;
    margin-left: 20px;
}

.products{
    margin-left: 8%;
}

