/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: XfinityStandard;
    src: url(assets/font/xfinitym_standard_light.otf) format("opentype");
  }

body {
    font-family: 'XfinityStandard',helvetica,arial,sans-serif;
    line-height: normal;
}

