.brand-option{
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #000 !important;
    text-transform: none;
    width: 200px !important;
    height: 3rem !important;
    margin-right: 16px !important;
    background: #fbfcfc !important;
    border-radius: 2px !important;
    border: 1px solid #c7cdd2 !important;
    margin-top: 5px;
}


.filter-area{
    margin-left: 250px;
    display: inline-block;
}

.brand-area{
    display: inline-block;
}


    