<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Xfinity mobile</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            
          <a class="nav-link" aria-current="page" href="#">Plan</a>
          <a class="nav-link" href="/network">Network</a>
          <a class="nav-link" href="/shop" >Shop</a>
          <a class="nav-link" href="#">Bring your phone</a>
          <a class="nav-link" href="#">Support</a>
        </div>
      </div>
    </div>
  </nav>